<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="itemManagement" class="mystore.service.ItemManagement">
	</bean>
	<bean id="billingManagement" class="mystore.service.BillingManagement">
		<property name="itemManagement" ref="itemManagement" />
	</bean>
	<bean id="stockManagement" class="mystore.service.StockManagement">
		<property name="itemManagement" ref="itemManagement" />
	</bean>

</beans>
